
{% extends "mbpj_elaun/base.html" %}
{% load static %}

{% block title %}
Bantuan
{% endblock %}

{% block content %}
{% if userGroup == '10'%}
{% else %}
<div class="row">

  <div class="col-md-12">

    <h1>Bantuan</h1>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="h3 card-title my--2">Manual Pengguna</h3>
          </div>      
  
          <div class="card-body">
            <p>
              Panduan ini akan membimbing anda melalui asas menggunakan Sistem Pengurusan 
              Elaun Lebih Masa termasuk cara mendaftar, log masuk ke laman web dan mengisi borang
            </p>
            <a href="#">Muat turun manual pengguna</a>
          </div>      
  
        </div> 
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="h3 card-title my--2">Versi Sistem</h3>
          </div>      
  
          <div class="card-body">
            <p>Versi Sistem Elaun Lebih Masa</p>
            <h3>Versi 2020 1.0</h3>
          </div>      
  
        </div> 
      </div>
    </div>   

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="h3 card-title my--2">Maklumat Aduan</h3>
          </div>      
  
          <div class="card-body">

            <form>
              <div class="form-group">
                  <label class="form-control-label">Tajuk</label>
                  <input class="form-control" type="text" value="Tajuk Aduan" id="tajukAduan">
              </div>
              <div class="form-group">
                <label class="form-control-label">Mesej</label>
                <input class="form-control" type="text" value="Mesej Aduan" id="mesejAduan">
              </div>     
              <button type="submit" class="btn btn-default">Hantar</button>         
            </form>            

          </div>      
  
        </div> 
      </div>
    </div>      

  </div>

</div>
{% endif %}
{% endblock %}

{% block javascript %}
  
  
{% endblock %}  