
{% extends "mbpj_elaun/base.html" %}
{% load static %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<div class="row">

  <div class="col-md-12">

      <h1>Dashboard</h1>

    <div class="row">
      <div class="col-md-3">
          <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                  <div class="row">
                      <div class="col">
                          <h5 class="card-title text-muted mb-0">Permohonan Lebih Masa</h5>
                          <span class="h1 font-weight-bold mb-0">0</span>
                      </div>
              </div>
          </div>
      </div>
      </div>
      <div class="col-md-3">
      <div class="card card-stats">
          <!-- Card body -->
          <div class="card-body">
              <div class="row">
                  <div class="col">
                      <h5 class="card-title text-muted mb-0">Permohonan Diluluskan</h5>
                      <span class="h1 font-weight-bold mb-0">0</span>
                  </div>
              </div>
          </div>
      </div>
      </div>
      <div class="col-md-3">
      <div class="card card-stats">
          <!-- Card body -->
          <div class="card-body">
              <div class="row">
                  <div class="col">
                      <h5 class="card-title text-muted mb-0">Permohonan Ditolak</h5>
                      <span class="h1 font-weight-bold mb-0">0</span>
                  </div>
              </div>
          </div>
      </div>
      </div>
      <div class="col-md-3">
      <div class="card card-stats">
          <!-- Card body -->
              <div class="card-body">
                  <div class="row">
                      <div class="col">
                          <h5 class="card-title text-muted mb-0">Permohonan Tahun Semasa</h5>
                          <span class="h1 font-weight-bold mb-0">0</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>   

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="h3 card-title my--2">Senarai Permohonan</h3>
          </div>      
  
          <div class="card-body">

          </div>      
  
        </div> 
      </div>
    </div>   

  </div>

</div>
{% endblock %}

{% block javascript %}
  
  
{% endblock %}  

 