
{% extends "mbpj_elaun/base.html" %}
{% load static %}

{% block title %}
Sah Elaun
{% endblock %}

{% block content %}
<div class="row">

  <div class="col-md-12">

      <h1>Pengesahan Elaun</h1>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="h3 card-title my--2">Carian Pengesahan</h3>
          </div>      
  
          <div class="card-body px-0">
        
            
        </div>    
  
        </div> 
      </div>
    </div>         


    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="h3 card-title my--2">Senarai Permohonan Memerlukan Pengesahan</h3>
          </div>      
  
          <div class="card-body px-0">

<div class="table-responsive py-4">
    <table class="table table-flush" id="datatable-basic">
        <thead class="thead-light">
            <tr>
                <!-- <th>No</th> -->
                <th>Tarikh Permohonan</th>
                <th>Status</th>
                <th>Tarikh & Masa Mula</th>
                <th>Tarikh & Masa Akhir</th>
                <th>Masa</th>
                <th>Tujuan</th>
            </tr>
        </thead>
        <tbody>
            {% for elaun in elauns %}
            <tr>
              <!-- <td>{{ forloop.counter }}</td> -->
              <td>{{ elaun.created_at | date:"d-m-Y" }}</td>
              <td>
                  {% if elaun.status == '01' %}
                    Menunggu Pengesahan
                  {% endif %}
                  {% if elaun.status == '02' %}
                    Pengesahan Ditolak
                  {% endif %}
                  {% if elaun.status == '03' %}
                    Menunggu Kelulusan
                  {% endif %}
                  {% if elaun.status == '04' %}
                    Kelulusan Ditolak            
                  {% endif %}
              </td>
              <td>{{ elaun.tarikh_mula | date:"d-m-Y" }} {{ elaun.masa_mula }}</td>
              <td>{{ elaun.tarikh_akhir | date:"d-m-Y" }} {{ elaun.masa_akhir }}</td>
              <td>{{ elaun.masa }}</td>
              <td>{{ elaun.tujuan }}</td>
            </tr>
            {% empty %}
            <tr>
              <td>Tiada Rekod</td>
            </tr>            
            {% endfor %}
        </tbody>
    </table>
</div>            
            
        </div>    
  
        </div> 
      </div>
    </div>   

  </div>

</div>
{% endblock %}

{% block javascript %}
  
  
{% endblock %}  