
{% extends "base_loggedout.html" %}
{% load static %}

{% block title %}
About
{% endblock %}

{% block content %}

<div class="main-content" id="panel">
    <section  class="py-6 pb-9 bg-default">
        <div  class="container-fluid">
            <div  class="row justify-content-center text-center">
                <div  class="col-md-6">
                    <h2  class="display-3 text-white">About DCB Platform</h2>
                    <p  class="lead text-white"> A highly scalable, fast and secure blockchain platform for distributed applications, decentralised finance and the new internet economy. We would like to enable the future of the world to be accelerated and achieve civilisation advancement! </p>
                </div>
            </div>
        </div>
    </section>
    <section  class="section section-lg pt-lg-0 mt--7">
        <div  class="container">
            <div  class="row justify-content-center">
                <div  class="col-lg-12">
                    <h1  class="mb-3" style="color: white;">Founding Team</h1>
                    <div  class="row">
                        <div  class="col-lg-4">
                            <div  class="card card-lift--hover shadow border-0">
                                <div  class="card-body py-5">
                                    <img  src="{% static 'assets/img/pictures/afeez.jpeg' %}" style="display: block; margin-left: auto; margin-right: auto;">
                                    <p  class="description mt-3">
                                    <b >Afeez Aziz</b> is a veteran in crypto industry as he has been running Bitcoin mining operation since 2013. </p>
                                <div >
                                <!-- <span  class="badge badge-pill badge-default mr-1">
                                    <a  href="https://www.linkedin.com/in/afeezaziz/">Linkedin</a>
                                </span>
                                <span  class="badge badge-pill badge-default mr-1">
                                    <a  href="https://www.twitter.com/afeezaziz/">Twitter</a>
    </span> -->
    </div>
    </div>
    </div>
    </div>
        <div  class="col-lg-4">
        <div  class="card card-lift--hover shadow border-0">
        <div  class="card-body py-5">
        <img  src="{% static 'assets/img/pictures/sansan.jpeg' %}" style="display: block; margin-left: auto; margin-right: auto;">
        <p  class="description mt-3">
        <b >Chow San San</b> or fondly known as 33 is a Finance industry insider with extensive investment banking industry. </p>
        <div >
        
    </div>
    </div>
    </div>
    </div>
        <div  class="col-lg-4">
        <div  class="card card-lift--hover shadow border-0">
        <div  class="card-body py-5">
        <img  src="{% static 'assets/img/pictures/surya.jpeg' %}" style="display: block; margin-left: auto; margin-right: auto;">
        <p  class="description mt-3">
        <b >Surya Arfah</b> is a businesswoman with strong link with governments especially in military and utility procurement. </p>
        <div >
        
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </section>


</div>

{% endblock %}

{% block javascript %}
{% endblock %}  