
{% extends "base_loggedout.html" %}
{% load static %}

{% block title %}
AML
{% endblock %}

{% block content %}
<div class="main-content" id="panel">

    <div class="container-fluid pt-6">
      <div class="row px-6">
          <div class="col">
            <h1>Anti Money Laundering (AML) Policy</h1>

            <h2>STATUS AND ACCEPTANCE</h2>
            <p>This AML Policy (hereinafter referred to as the “Policy”) sets forth the general rules and processes governing the implementation and conduction of procedures in accordance with the relevant Anti- Money Laundering Laws and Regulations.</p>
            <ul class="font-weight-light">
                <li>We are committed to establishing and maintaining policies, controls, and procedures to manage and effectively mitigate the risks of money laundering and terrorist financing.</li>
                <li>We are strongly committed to preventing the use of its operations for money laundering or any activity which facilitates money laundering, or the funding of terrorism or criminal activities.</li>
                <li>This policy provides for program continuity despite changes in management or employee composition or structure.</li>
                <li>The Board of Directors and Senior Management are committed to a solid culture of compliance to ensure adherence to the company’s AML policies, procedures, and processes.</li>                
            </ul>
          </div>

        
      </div>

      <div class="row pt-6 px-6">
        <h1 id="kyc">Know Your Customer (KYC) Policy</h1>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
      </div>      
    </div>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}  