
{% extends "base.html" %}
{% load static %}

{% block title %}
Sah Elaun
{% endblock %}

{% block content %}
<div class="row">

  <div class="col-md-12">

      <h1>Pengesahan Elaun</h1>

    {% if not elauns %}
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="h3 card-title my--2">Carian Pengesahan</h3>
          </div>      
  
          <div class="card-body px-0">
        
            
        </div>    
  
        </div> 
      </div>
    </div>    
    {% endif %}
    

    {% if elauns %}
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="h3 card-title my--2">Senarai Permohonan</h3>
          </div>      
  
          <div class="card-body px-0">

<div class="table-responsive py-4">
    <table class="table table-flush" id="datatable-basic">
        <thead class="thead-light">
            <tr>
                <!-- <th>No</th> -->
                <th>Tarikh Permohonan</th>
                <th>Pemohon</th>
                <th>Status</th>
                <th>Tarikh & Masa Mula</th>
                <th>Tarikh & Masa Akhir</th>
                <th>Tujuan</th>
            </tr>
        </thead>
        <tbody>
            {% for elaun in elauns %}
            <tr>
              <!-- <td>{{ forloop.counter }}</td> -->
              <td>{{ elaun.created_at | date:"d-m-Y" }}</td>
              <td>{{ elaun.pemohon }}</td>
              <td>
                  {% if elaun.status == '00' %}
                    Dalam Permohonan
                  {% endif %}                
                  {% if elaun.status == '01' %}
                    Menunggu Pengesahan
                  {% endif %}
                  {% if elaun.status == '02' %}
                    Pengesahan Ditolak
                  {% endif %}
                  {% if elaun.status == '03' %}
                    Menunggu Kelulusan
                  {% endif %}
                  {% if elaun.status == '04' %}
                    Kelulusan Ditolak            
                  {% endif %}
              </td>
              <td>{{ elaun.tarikh_mula | date:"d-m-Y h:i A" }}</td>
              <td>{{ elaun.tarikh_akhir | date:"d-m-Y h:i A" }}</td>
              <td>{{ elaun.sebab_lebih_masa }}</td>
            </tr>
            <tr>
              <form method="POST" action="">
                {% csrf_token %}
                <input type="hidden" value="{{elaun.id}}" name="elaun_id">
              <td colspan="4">
                <input class="form-control form-control-sm" type="text" value="Nota Pengesahan" id="nota{{ forloop.counter }}" name="nota">
              </td>               
              <td>
                <div class="custom-control custom-checkbox text-right">
                  <input type="checkbox" class="custom-control-input" id="customCheck{{ forloop.counter }}" name="sah">
                  <label class="custom-control-label" for="customCheck{{ forloop.counter }}">Sah?</label>
                </div>
              </td>
              <td>                
                <button class="btn btn-default btn-sm" type="submit">Hantar</button>
              </td> 
              </form>             
            </tr>
            {% empty %}
            <tr>
              <td colspan="6">Tiada Rekod</td>
            </tr>            
            {% endfor %}
        </tbody>
    </table>
</div>            
            
        </div>    
  
        </div> 
      </div>
    </div>  
    {% endif %} 



  </div>

</div>
{% endblock %}

{% block javascript %}
  
  
{% endblock %}  