
{% extends "base.html" %}
{% load static %}

{% block title %}
Tuntutan Elaun
{% endblock %}

{% block content %}
<div class="row">

  <div class="col-md-12">

      <h1>Tuntutan Elaun</h1>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="h3 card-title my--2">Maklumat Peribadi</h3>
          </div>      
  
          <div class="card-body">
            <div class="col">
                    <!-- <h4 class="heading-medium text-muted mb-4">Maklumat Peribadi</h4> -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label col-form-label-sm font-weight-bold">No Pekerja</label>
                                <input type="text" name="noPekerja" class="form-control form-control-sm text-default" value="{{user.noPekerja}}" disabled="">
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="row"> 
                       <div class="col-md-8">
                            <div class="form-group">
                                <label class="col-form-label col-form-label-sm font-weight-bold">Nama</label>
                                <input type="text" name="name" id="name" class="form-control form-control-sm text-default" value="{{user.nama}}" disabled="">

                                
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="col-form-label col-form-label-sm font-weight-bold">Jawatan</label>
                                <input type="text" name="jawatan" id="jawatan" class="form-control form-control-sm text-default" value="{{user.jawatan}}" disabled="">

                                
                            </div>
                        </div>
                    </div>

                    <div class="row"> 
                       <div class="col">
                            <div class="form-group">
                                <label class="col-form-label col-form-label-sm font-weight-bold">No. KP Baru</label>
                                <input type="text" name="nric" id="nric" class="form-control form-control-sm text-default" value="{{user.nric}}" disabled="">                                
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="col-form-label col-form-label-sm font-weight-bold">Bahagian</label>
                                <input type="text" name="bahagian" id="bahagian" class="form-control form-control-sm text-default" value="{{user.bahagian}}" disabled="">                                
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="col-form-label col-form-label-sm font-weight-bold">Jabatan</label>
                                <input type="text" name="jabatan" id="jabatan" class="form-control form-control-sm text-default" value="{{user.jabatan}}" disabled="">                                
                            </div>
                        </div>
                    </div>

                    <div class="row">  
                       <div class="col-lg-4">
                            <div class="form-group">
                                <label class="col-form-label col-form-label-sm font-weight-bold">Gaji Matriks</label>
                                <input type="text" name="gajiMatriks" id="gajiMatriks" class="form-control form-control-sm text-default" value="{{user.gaji}}" disabled="">

                                
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="col-form-label col-form-label-sm font-weight-bold">Gred</label>
                                <input type="text" name="gred" id="gred" class="form-control form-control-sm text-default" value="{{user.gred}}" disabled="">
                            </div>
                        </div>
                    </div>

                    <div class="text-right">
                      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal">Mohon Baru</button>
                    </div>


                </div>
          </div>  
  
        </div> 
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="h3 card-title my--2">Senarai Permohonan Sendiri</h3>
          </div>      
  
          <div class="card-body px-0">

<div class="table-responsive py-4">
    <table class="table table-flush" id="datatable-basic">
        <thead class="thead-light">
            <tr>
                <!-- <th>No</th> -->
                <th>Tarikh Permohonan</th>
                <th>Status</th>
                <th>Tarikh & Masa Mula</th>
                <th>Tarikh & Masa Akhir</th>
                <th>Masa</th>
                <th>Tujuan</th>
            </tr>
        </thead>
        <tbody>
            {% for elaun in elauns %}
            <tr>
              <!-- <td>{{ forloop.counter }}</td> -->
              <td>{{ elaun.created_at | date:"d-m-Y" }}</td>
              <td>
                  {% if elaun.status == '01' %}
                    Menunggu Pengesahan
                  {% endif %}
                  {% if elaun.status == '02' %}
                    Pengesahan Ditolak
                  {% endif %}
                  {% if elaun.status == '03' %}
                    Menunggu Kelulusan
                  {% endif %}
                  {% if elaun.status == '04' %}
                    Kelulusan Ditolak            
                  {% endif %}
              </td>
              <td>{{ elaun.tarikh_mula | date:"d-m-Y" }} {{ elaun.masa_mula }}</td>
              <td>{{ elaun.tarikh_akhir | date:"d-m-Y" }} {{ elaun.masa_akhir }}</td>
              <td>{{ elaun.masa }}</td>
              <td>{{ elaun.tujuan }}</td>
            </tr>
            {% empty %}
            <tr>
              <td>Tiada Rekod</td>
            </tr>            
            {% endfor %}
        </tbody>
    </table>
</div>            
            
        </div>    
  
        </div> 
      </div>
    </div>   

  </div>

</div>
{% endblock %}

{% block javascript %}
  
  
{% endblock %}  