
{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Mohon Elaun
{% endblock %}

{% block content %}
<div class="row">

  <div class="col-md-12">

      <h1>Permohonan Elaun</h1>

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="h3 card-title my--2">Maklumat Peribadi</h3>
          </div>      
  
          <div class="card-body">
            <div class="col">
                    <!-- <h4 class="heading-medium text-muted mb-4">Maklumat Peribadi</h4> -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label col-form-label-sm font-weight-bold">No Pekerja</label>
                                <input type="text" name="noPekerja" class="form-control form-control-sm text-default" value="{{user.noPekerja}}" disabled="">
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="row"> 
                       <div class="col-md-8">
                            <div class="form-group">
                                <label class="col-form-label col-form-label-sm font-weight-bold">Nama</label>
                                <input type="text" name="name" id="name" class="form-control form-control-sm text-default" value="{{user.nama}}" disabled="">

                                
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="col-form-label col-form-label-sm font-weight-bold">Jawatan</label>
                                <input type="text" name="jawatan" id="jawatan" class="form-control form-control-sm text-default" value="{{user.jawatan}}" disabled="">

                                
                            </div>
                        </div>
                    </div>

                    <div class="row"> 
                       <div class="col">
                            <div class="form-group">
                                <label class="col-form-label col-form-label-sm font-weight-bold">No. KP Baru</label>
                                <input type="text" name="nric" id="nric" class="form-control form-control-sm text-default" value="{{user.nric}}" disabled="">                                
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="col-form-label col-form-label-sm font-weight-bold">Bahagian</label>
                                <input type="text" name="bahagian" id="bahagian" class="form-control form-control-sm text-default" value="{{user.bahagian}}" disabled="">                                
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="col-form-label col-form-label-sm font-weight-bold">Jabatan</label>
                                <input type="text" name="jabatan" id="jabatan" class="form-control form-control-sm text-default" value="{{user.jabatan}}" disabled="">                                
                            </div>
                        </div>
                    </div>

                    <div class="row">  
                       <div class="col-lg-4">
                            <div class="form-group">
                                <label class="col-form-label col-form-label-sm font-weight-bold">Gaji Matriks</label>
                                <input type="text" name="gajiMatriks" id="gajiMatriks" class="form-control form-control-sm text-default" value="{{user.gaji}}" disabled="">

                                
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="col-form-label col-form-label-sm font-weight-bold">Gred</label>
                                <input type="text" name="gred" id="gred" class="form-control form-control-sm text-default" value="{{user.gred}}" disabled="">
                            </div>
                        </div>
                    </div>

                    <div class="text-right">
                      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal">Mohon Baru</button>
                    </div>


                </div>
          </div>  
  
        </div> 
      </div>
    </div>

    {% if elauns %}
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="h3 card-title my--2">Senarai Permohonan Sendiri</h3>
          </div>      
  
          <div class="card-body px-0">

<div class="table-responsive py-4">
    <table class="table table-flush" id="datatable-basic">
        <thead class="thead-light">
            <tr>
                <!-- <th>No</th> -->
                <th>Tarikh Permohonan</th>
                <th>Status</th>
                <th>Tarikh & Masa Mula</th>
                <th>Tarikh & Masa Akhir</th>
                <th>Tujuan</th>
            </tr>
        </thead>
        <tbody>
            {% for elaun in elauns %}
            <tr>
              <!-- <td>{{ forloop.counter }}</td> -->
              <td>{{ elaun.created_at | date:"d-m-Y" }}</td>
              <td>
                  {% if elaun.status == '00' %}
                    Dalam Permohonan
                  {% endif %}                
                  {% if elaun.status == '01' %}
                    Menunggu Pengesahan
                  {% endif %}
                  {% if elaun.status == '02' %}
                    Pengesahan Ditolak
                  {% endif %}
                  {% if elaun.status == '03' %}
                    Menunggu Kelulusan
                  {% endif %}
                  {% if elaun.status == '04' %}
                    Kelulusan Ditolak            
                  {% endif %}
              </td>
              <td>{{ elaun.tarikh_mula | date:"d-m-Y h:i A" }}</td>
              <td>{{ elaun.tarikh_akhir | date:"d-m-Y h:i A" }}</td>
              <td>{{ elaun.sebab_lebih_masa }}</td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="6">Tiada Rekod</td>
            </tr>            
            {% endfor %}
        </tbody>
    </table>
</div>            
            
        </div>    
  
        </div> 
      </div>
    </div>  
    {% endif %} 

  </div>

</div>


<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Permohonan Baru</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="">
        {% csrf_token %}
        <input type="hidden" name="pemohon_nric"   value="{{user.nric}}">
        <input type="hidden" name="pemohon_kod_pekerja" value="{{user.noPekerja}}">
      <div class="modal-body">

        <div class="row">
          <!-- <button type="button" class="btn btn-warning" onclick="myFunction()">Click Me</button> -->
          <div id="selectpermohonan" class="col-sm-6">
              <div class="form-group">
                  <select name="jenis_permohonan" id="jenisPermohonan" class="form-control custom-select" autocomplete="off" onchange="myFunction()">
                      <!-- <option disabled="" selected="true" value="pilihan"> Pilih Jenis Permohonan</option> -->
                      <option value="A1" selected>Permohonan Individu / Borang A1</option>
                      <option value="A2">Permohonan Berkumpulan / Borang A2</option>
                  </select>                       
              </div>
          </div>
        </div>

        <div class="my-3">
                    <hr class="my-3">
                        <div class="col">
                          <h3>Butiran Permohonan Elaun Lebih Masa</h3>
                            <div class="row">
                              <div class="col">
                                <div class="form-group">
                                    <label>Nama</label>
                                    <input type="text" name="pemohon_nama"  class="form-control form-control-sm text-default" value="{{user.nama}}" disabled="">
                                </div>
                              </div>                                
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label>No. Pekerja</label>
                                        <input type="text" name="pemohon_no_pekerja"  class="form-control form-control-sm text-default" value="{{user.noPekerja}}" disabled="">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>Kad Pengenalan</label>
                                        <input type="text" name="pemohon_nric"  class="form-control form-control-sm text-default" value="{{user.nric}}" disabled="">
                                    </div>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col">
                                    <div class="form-group">
                                        <label>Mula Kerja</label>
                                        <input name="tarikh_mula" class="form-control form-control-sm" type="datetime-local">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>Akhir Kerja</label>
                                        <input name="tarikh_akhir" class="form-control form-control-sm" type="datetime-local">
                                    </div>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col">
                                    <div class="form-group">
                                        <label>Sebab - Sebab Lebih Masa</label>
                                        <textarea type="text" name="sebab_lebih_masa"  class="form-control form-control-sm" value=""></textarea>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>Lokasi</label>
                                        <textarea type="text" name="lokasi"  class="form-control form-control-sm" value=""></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col">
                                    <div class="form-group">
                                        <label>Pegawai Sokong</label>
                                        <input type="text" name="pegawai_lulus"  class="form-control form-control-sm text-default">
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label>Pegawai Pelulus</label>
                                        <input type="text" name="pegawai_sah"  class="form-control form-control-sm text-default">
                                    </div>
                                </div>
                            </div> 
                        </div>
        </div>  

        <div class="my-3" id="borangBerkumpulan" style="display: none;">
          <hr class="my-3">
              <div class="col">
                <h3>Butiran Permohonan Berkumpulan</h3>

                  
                    <input type="hidden" name="count" id="countPekerja" value="1" />
                    <div class="row">
                        <div id="field"><input autocomplete="off" class="form-control form-control-sm text-default" id="field1" name="noPekerja1" type="text" placeholder="No Pekerja" data-items="8"/><button id="b1" class="btn add-more btn-info" type="button">+</button></div>
                    </div>                                                                      

              </div>
</div>                  
      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-success">Hantar</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal">Tutup</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}


<script>

$(document).ready(function() {
    // Datatable
    var table = $('#datatable-basic').DataTable({
      dom: 'Bfrtip',
        buttons: [
          'excel', 'pdf', 
        ]      
        
    });

    table.buttons().container()
        .appendTo( '#example_wrapper .col-md-6:eq(0)' );



    var next = 1;
    $(".add-more").click(function(e){
        e.preventDefault();
        var addto = "#field" + next;
        var addRemove = "#field" + (next);
        next = next + 1;
        var newIn = '<input autocomplete="off" class="form-control form-control-sm text-default" id="field' + next + '" name="noPekerja' + next + '" type="text" placeholder="No Pekerja">';
        var newInput = $(newIn);
        var removeBtn = '<button id="remove' + (next - 1) + '" class="btn btn-danger remove-me" >-</button></div><div id="field">';
        var removeButton = $(removeBtn);
        $(addto).after(newInput);
        $(addRemove).after(removeButton);
        $("#field" + next).attr('data-source',$(addto).attr('data-source'));
        $("#count").val(next);  
        document.getElementById("countPekerja").value = next;
        console.log(next)
        
        $('.remove-me').click(function(e){
            e.preventDefault();
            var fieldNum = this.id.charAt(this.id.length-1);
            var fieldID = "#field" + fieldNum;
            $(this).remove();
            $(fieldID).remove();
        });

    });
} );

function myFunction() {
  var e = document.getElementById("jenisPermohonan");
  var borang = e.value;  

  var x = document.getElementById("borangBerkumpulan");
  if (borang == "A2") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}  


</script>
  
{% endblock %}  