
{% extends "mbpj_elaun_base.html" %}
{% load static %}

{% block title %}
Laporan
{% endblock %}

{% block content %}
<div class="row">

  <div class="col-md-12">

    <h1>Laporan</h1>

    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3 class="h3 card-title my--2">Statistik</h3>
          </div>      
  
          <div class="card-body">
            husin, nanti tolong bagi chart apa untuk each of the user...
          </div>      
  
        </div> 
      </div>

      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3 class="h3 card-title my--2">Statistik</h3>
          </div>      
  
          <div class="card-body">
            husin, nanti tolong bagi chart apa untuk each of the user...
          </div>      
  
        </div> 
      </div>
    </div>  
    
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3 class="h3 card-title my--2">Manual Pengguna</h3>
          </div>      
  
          <div class="card-body">
            husin, nanti tolong bagi chart apa untuk each of the user...
          </div>      
  
        </div> 
      </div>
      
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h3 class="h3 card-title my--2">Statistik</h3>
          </div>      
  
          <div class="card-body">
            husin, nanti tolong bagi chart apa untuk each of the user...
          </div>      
  
        </div> 
      </div>
    </div>       

  </div>

</div>
{% endblock %}

{% block javascript %}
  
  
{% endblock %}  