
{% extends "mbpj_elaun_base.html" %}
{% load static %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}
<div class="row">

  <div class="col-md-12">

      <h1>Dashboard</h1>

    <div class="row">
      <div class="col-md-3">
          <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                  <div class="row">
                      <div class="col">
                          <h5 class="card-title text-muted mb-0">Permohonan Lebih Masa</h5>
                          <span class="h1 font-weight-bold mb-0">{{elauns.count}}</span>
                      </div>
              </div>
          </div>
      </div>
      </div>
      <div class="col-md-3">
      <div class="card card-stats">
          <!-- Card body -->
          <div class="card-body">
              <div class="row">
                  <div class="col">
                      <h5 class="card-title text-muted mb-0">Permohonan Diluluskan</h5>
                      <span class="h1 font-weight-bold mb-0">0</span>
                  </div>
              </div>
          </div>
      </div>
      </div>
      <div class="col-md-3">
      <div class="card card-stats">
          <!-- Card body -->
          <div class="card-body">
              <div class="row">
                  <div class="col">
                      <h5 class="card-title text-muted mb-0">Permohonan Ditolak</h5>
                      <span class="h1 font-weight-bold mb-0">0</span>
                  </div>
              </div>
          </div>
      </div>
      </div>
      <div class="col-md-3">
      <div class="card card-stats">
          <!-- Card body -->
              <div class="card-body">
                  <div class="row">
                      <div class="col">
                          <h5 class="card-title text-muted mb-0">Permohonan Tahun Semasa</h5>
                          <span class="h1 font-weight-bold mb-0">{{elauns.count}}</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>   

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="h3 card-title my--2">Senarai Permohonan Sendiri</h3>
          </div>      
  
          <div class="card-body px-0">

<div class="table-responsive py-4">
    <table class="table table-flush" id="datatable-basic">
        <thead class="thead-light">
            <tr>
                <!-- <th>No</th> -->
                <th>Tarikh Permohonan</th>
                <th>Status</th>
                <th>Tarikh & Masa Mula</th>
                <th>Tarikh & Masa Akhir</th>
                <th>Tujuan</th>
            </tr>
        </thead>
        <tbody>
            {% for elaun in elauns %}
            <tr>
              <!-- <td>{{ forloop.counter }}</td> -->
              <td>{{ elaun.created_at | date:"d-m-Y" }}</td>
              <td>
                  {% if elaun.status == '00' %}
                    Dalam Permohonan
                  {% endif %}                
                  {% if elaun.status == '01' %}
                    Menunggu Pengesahan
                  {% endif %}
                  {% if elaun.status == '02' %}
                    Pengesahan Ditolak
                  {% endif %}
                  {% if elaun.status == '03' %}
                    Menunggu Kelulusan
                  {% endif %}
                  {% if elaun.status == '04' %}
                    Kelulusan Ditolak            
                  {% endif %}
              </td>
              <td>{{ elaun.tarikh_mula | date:"d-m-Y h:i A" }}</td>
              <td>{{ elaun.tarikh_akhir | date:"d-m-Y h:i A" }}</td>
              <td>{{ elaun.sebab_lebih_masa }}</td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="6">Tiada Rekod</td>
            </tr>            
            {% endfor %}
        </tbody>
    </table>
</div>            
            
        </div>    
  
        </div> 
      </div>
    </div>   

  </div>

</div>
{% endblock %}

{% block javascript %}
  <script>

$(document).ready(function() {
    // Datatable
    var table = $('#datatable-basic').DataTable({
      dom: 'Bfrtip',
        buttons: [
            'excel', 'pdf', 
        ]      
        
    });
} );



</script>
  
{% endblock %}  

 