
{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Profil
{% endblock %}

{% block content %}
<div class="row">

  <div class="col-md-12">

    <div class="row px-6">
      <h1>Profil</h1>
    </div>

    <div class="row">
      <div class="col-md-12 px-6">
        <div class="card">
          <div class="card-header">
            <h3 class="h3 card-title my--2">Maklumat Peribadi</h3>
          </div>      
  
          <div class="card-body">
            <div class="col">
                    <!-- <h4 class="heading-medium text-muted mb-4">Maklumat Peribadi</h4> -->
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="col-form-label col-form-label-sm font-weight-bold">No Pekerja</label>
                                <input type="text" name="noPekerja" id="noPekerja" class="form-control form-control-sm text-default" value="{{user.noPekerja}}" disabled="">
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="row"> 
                       <div class="col-md-8">
                            <div class="form-group">
                                <label class="col-form-label col-form-label-sm font-weight-bold">Nama</label>
                                <input type="text" name="name" id="name" class="form-control form-control-sm text-default" value="{{user.nama}}" disabled="">

                                
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="col-form-label col-form-label-sm font-weight-bold">Jawatan</label>
                                <input type="text" name="jawatan" id="jawatan" class="form-control form-control-sm text-default" value="{{user.jawatan}}" disabled="">

                                
                            </div>
                        </div>
                    </div>

                    <div class="row"> 
                       <div class="col">
                            <div class="form-group">
                                <label class="col-form-label col-form-label-sm font-weight-bold">No. KP Baru</label>
                                <input type="text" name="nric" id="nric" class="form-control form-control-sm text-default" value="{{user.nric}}" disabled="">

                                
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="col-form-label col-form-label-sm font-weight-bold">Bahagian</label>
                                <input type="text" name="bahagian" id="bahagian" class="form-control form-control-sm text-default" value="{{user.bahagian}}" disabled="">

                                
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label class="col-form-label col-form-label-sm font-weight-bold">Jabatan</label>
                                <input type="text" name="jabatan" id="jabatan" class="form-control form-control-sm text-default" value="{{user.jabatan}}" disabled="">

                                
                            </div>
                        </div>
                    </div>

                    <div class="row">  
                       <div class="col-lg-4">
                            <div class="form-group">
                                <label class="col-form-label col-form-label-sm font-weight-bold">Gaji Matriks</label>
                                <input type="text" name="gajiMatriks" id="gajiMatriks" class="form-control form-control-sm text-default" value="{{user.gaji}}" disabled="">

                                
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="col-form-label col-form-label-sm font-weight-bold">Gred</label>
                                <input type="text" name="gred" id="gred" class="form-control form-control-sm text-default" value="{{user.gred}}" disabled="">
                            </div>
                        </div>
                    </div>
                </div>
          </div>  
  
        </div> 
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 px-6">
        <div class="card">
          <div class="card-header">
            <h3 class="h3 card-title my--2">Tukar Kata Laluan</h3>
          </div>      
  
          <div class="card-body">
            <form method="POST" action="">
              {% csrf_token %}
              <input type="text" name="nric" value="860717000000" hidden>                         
              <div class="row"> 
                 <div class="col">
                     <div class="form-group">
                         <label class="col-form-label col-form-label-sm font-weight-bold">Password Lama</label>
                         <input type="password" name="password_lama"  class="form-control form-control-sm text-default">                         
                     </div>
                 </div>
                 <div class="col">
                     <div class="form-group">
                         <label class="col-form-label col-form-label-sm font-weight-bold">Password Baru</label>
                         <input type="password" name="password_baru_1"  class="form-control form-control-sm text-default">                         
                     </div>
                 </div>
                 <div class="col">
                  <div class="form-group">
                      <label class="col-form-label col-form-label-sm font-weight-bold">Password Baru (Ulang)</label>
                      <input type="password" name="password_baru_2"  class="form-control form-control-sm text-default">                         
                  </div>
              </div>                 
             </div>              
              <button type="submit" class="btn btn-default">Hantar</button>
            </form>            
          </div>
        </div>
      </div>
    </div>
         

  </div>

</div>
{% endblock %}

{% block javascript %}
  
  
{% endblock %}  