
{% extends "kpdnhep_eaduan_base.html" %}
{% load static %}

{% block title %}
Laporan List
{% endblock %}

{% block content %}
<div class="row">

  <div class="col-md-12">

      <h1>Senarai Laporan</h1>
      <p>Hariz, please provide list of laporans and format required.</p>
      

      <div class="row mb-4">

        <div class="col-lg-3">          
    
          <div class="card bg-gradient-default">        
            <div class="card-body">            
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0 text-white">Mesej Whatsapp</h5>
                  <span class="h2 font-weight-bold mb-0 text-white">350</span>
                </div>
              </div>
            </div>   
          </div>      
    
        </div>

        <div class="col-lg-3">            
          <div class="card bg-gradient-primary">        
            <div class="card-body">            
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0 text-white">Pengguna</h5>
                  <span class="h2 font-weight-bold mb-0 text-white">20</span>
                </div>
              </div>
            </div>   
          </div>          
        </div>  
        
        <div class="col-lg-3">            
          <div class="card bg-gradient-danger">        
            <div class="card-body">            
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0 text-white">Average Masa Balas</h5>
                  <span class="h2 font-weight-bold mb-0 text-white">30 Minit</span>
                </div>
              </div>
            </div>   
          </div>          
        </div>   
        
        <div class="col-lg-3">            
          <div class="card bg-gradient-info">        
            <div class="card-body">            
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0 text-white">Aduan Selesai</h5>
                  <span class="h2 font-weight-bold mb-0 text-white">10</span>
                </div>
              </div>
            </div>   
          </div>          
        </div>           
    
      </div>
  </div>

</div>
{% endblock %}

{% block javascript %}

  
{% endblock %}  

 