
{% extends "kpdnhep_eaduan_base.html" %}
{% load static %}

{% block title %}
Bantuan Detail
{% endblock %}

{% block content %}
<div class="row">

  <div class="col-md-12">

      <h1>Bantuan</h1>
      <h4>
        Jenis Bantuan - 
        {% if bantuan.jenis_bantuan == 'A' %}
          Gangguan Sistem
        {% else %}
          Pertanyaan
        {% endif %}
      </h4>
      <p>
        {{bantuan.mesej}}
      </p>

      <small>{{ bantuan.created_at }}</small>
  </div>

</div>
{% endblock %}

{% block javascript %}

  
{% endblock %}  

 