
{% extends "kpdnhep_eaduan_base.html" %}
{% load static %}

{% block title %}
Chatroom Detail
{% endblock %}

{% block content %}
<div class="row">

  <div class="col-md-12">

      <h1>Chatroom - {{chatroom.whatsapp_id}}</h1>

      <form action="" method="POST">
        {% csrf_token %}
        <input type="hidden" name="whatsapp_id" value="{{chatroom.whatsapp_id}}">
        <div class="form-group">
          <label>Message</label>
          <textarea class="form-control" name="mesej" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-default" >Hantar Mesej</button>
      </form>

      <hr/>      

      {% for message in wamessages %}        
        {% if message.message_sid == 'KPDNHEP' %}
          <h3 class="text-danger">Message dari KPDNHEP</h3>
        {% else %}
          <h3 class="text-success">Message dari Pengguna</h3>
        {% endif %}
        <p>{{ message.body }}</p>
        <small>Tarikh: {{ message.created_at }}</small>
        <hr/>
      {% endfor %}
  </div>

</div>
{% endblock %}

{% block javascript %}
<script>

var inactivityTime = function () {
    var time;
    window.onload = resetTimer;
    
    document.onmousemove = resetTimer;
    document.onkeydown = resetTimer;

    function refresh() {
        location.reload()
    }

    function resetTimer() {
        clearTimeout(time);
        time = setTimeout(refresh, 10000)
    }
};

window.onload = function() {
  inactivityTime();
}  

</script>
  
{% endblock %}  

 