
{% extends "kpdnhep_eaduan_base.html" %}
{% load static %}

{% block title %}
Bantuan List
{% endblock %}

{% block content %}
<div class="row">

  <div class="col-md-12">

      <h1>Senarai Bantuan</h1>

      <div class="table-responsive py-4">
        <table class="table table-flush" id="datatable-basic">
            <thead class="thead-light">
                <tr>
                    <!-- <th>No</th> -->
                    <th>Tarikh</th>
                    <th>Bentuk</th>
                    <th>Soalan</th>
                    <th>Tujuan</th>
                </tr>
            </thead>
            <tbody>

                {% for bantuan in bantuans %}
                <tr>
                  <!-- <td>{{ forloop.counter }}</td> -->
                  <td>{{ bantuan.created_at }}</td>
                  <td>
                    {% if bantuan.jenis_bantuan == 'A' %}
                      Gangguan Sistem
                    {% elif bantuan.jenis_bantuan == 'B' %}
                      Pertanyaan
                    {% endif %}
                  </td>
                  <td>{{ bantuan.mesej }}</a></td>
                  <td>
                    <a href="/kpdnhep-eaduan/bantuan/{{bantuan.id}}" class="text-info">Baca Lanjut</a>
                  </td>
                </tr>
                {% empty %}
                <tr>
                  <td colspan="6">Tiada Rekod</td>
                </tr>            
                {% endfor %}
            </tbody>
        </table>
      </div>       
      
      <hr/>

      <form action="" method="POST">
        {% csrf_token %}
        <input type="hidden" value="">

        <div class="form-group">
          <label>Jenis Soalan</label>
          <select class="form-control" name="jenis_bantuan">
            <option value="A">Gangguan Sistem</option>
            <option value="B">Pertanyaan</option>
          </select>
        </div>        

        <div class="form-group">
          <label>Soalan</label>
          <textarea class="form-control" name="mesej" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-default" >Hantar Soalan</button>
      </form>      

  
  </div>

</div>
{% endblock %}

{% block javascript %}
<script>

  $(document).ready(function() {
      // Datatable
      var table = $('#datatable-basic').DataTable({
        dom: 'Bfrtip',
          buttons: [
            'excel', 'pdf', 
          ]      
          
      });

  } );

</script>  
{% endblock %}  

 