
{% extends "bootcamp_base.html" %}
{% load static %}

{% block title %}
Demo
{% endblock %}

{% block content %}
<div class="row">

  <div class="col-md-12">

      <h1>Demo</h1>
      <p>Nothing here. This page is just a placeholder for applications built by Pipeline Network Sdn. Bhd.</p>

      <h2>Course Available</h2>
      <ol>
        <li>
          <a href="/bootcamp/developer-day">Developer Basic Training</a>
        </li>
      </ol>
  
  </div>

</div>
{% endblock %}

{% block javascript %}

  
{% endblock %}  

 